<% flash.each do |key, value| %>
 <div id='flash' class="flash flash_<%= key %>">
   <%= value %>
 </div>
<% end %>
<article id="blog_post">
  <div class='date_wrapper'>
    <div class="ruby_holder">
        <%= l(@post.published_at, format: "%b %d").upcase %><br />
        <%= l(@post.published_at, format: "%Y")%>
    </div>
  </div>
    <div class='article_inside'>
      <header>
        <h1><%= @post.title %></h1>
        <section class='details'>
          <% if Refinery::Blog::Post.comments_allowed? %>
            <aside class='comment_count'>
              <%= link_to image_tag('comment.png') + " #{@post.comments.approved.count}", refinery.blog_post_path(@post) << '#comments' %> |
          <% end %>
          <% if (categories = @post.categories.translated).any? %>
              <%=raw categories.collect { |category| link_to category.title.upcase, refinery.blog_category_path(category) }.to_sentence %>
            </aside>
          <% end %>
          <% if (tags = @post.tags).any? %>
            <aside class='tagged'>
              <%=raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.join(" ")%>
            </aside>
          <% end %>
  
          <% if @post.source_url.present? %>
            <div class='blog_source'>
              <%= "#{t('source', :scope => 'refinery.blog.posts.show')}: " %>
              <%= link_to (@post.source_url_title.blank? ? @post.source_url : @post.source_url_title), @post.source_url %>
            </div>
          <% end %>
        </section>
      </header>
      <%= @post.body.html_safe %>
    </div>
  <% if Refinery::Blog::Post::ShareThis.enabled? %>
    <span class="st_sharethis" displayText="ShareThis"></span>
  <% end %>
</article>
<div class='clear'></div>
<%= render 'nav' if next_or_previous?(@post) %>
