<% if post.live? %>

  <article class="blog_post" id="<%= dom_id(post) %>">
    <div class='date_wrapper'>
      <div class="ruby_holder">
          <%= l(post.published_at, format: "%b %d").upcase %><br />
          <%= l(post.published_at, format: "%Y")%>
      </div>
    </div>
    <div class='article_inside'>
      <header>
        <h1><%= link_to post.title, refinery.blog_post_path(post) %></h1>
        <section class='details'>
          <% if Refinery::Blog::Post.comments_allowed? %>
            <aside class='comment_count'>
              <%= link_to image_tag('comment.png') + " #{post.comments.approved.count}", refinery.blog_post_path(post) << '#comments' %> |
          <% end %>
          <% if (categories = post.categories.translated).any? %>
              <%=raw categories.collect { |category| link_to category.title.upcase, refinery.blog_category_path(category) }.to_sentence %>
            </aside>
          <% end %>
          <% if (tags = post.tags).any? %>
            <aside class='tagged'>
              <%=raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.join(" ")%>
            </aside>
          <% end %>
        </section>
      </header>
      <section class='clearfix'>
        <% if blog_post_teaser_enabled? %>
          <%= blog_post_teaser(post) %>
        <% else %>
          <%= post.body.html_safe %>
        <% end %>
      </section>
      <footer>
        <p>
          <% if blog_post_teaser_enabled? && post.custom_teaser.present? %>
          <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post) %>
          <% end %>
        </p>
        
      </footer>
    </div>
  </article>
  <div class="clear"></div>
<% end %>
