<h1 id='logo'>
  <%= link_to image_tag('logo.png'), refinery.root_path %>
</h1>

<section id="social">
  <div id='line_1'>
    <%= link_to image_tag('Twitter.png', size: "36x41"), 'http://twitter.com/sedrickcz' %>
    <%= link_to image_tag('LinkedIn.png', size: "36x41"), refinery.root_path %><br>
  </div>
  <div id='line_2'>
    <%= link_to image_tag('Facebook.png', size: "36x41"), refinery.root_path %>
    <%= link_to image_tag('Tumblr.png', size: "36x41"), refinery.root_path %>
    <%= link_to image_tag('Skype.png', size: "36x41"), refinery.root_path %><br>
  </div>
  <div id='line_3'>
    <%= link_to image_tag('Youtube.png', size: "36x41"), refinery.root_path %>
    <%= link_to image_tag('Instagram.png', size: "36x41"), refinery.root_path %>
  </div>
</section>