<h1 id='logo'>
  <%= link_to image_tag('logo.png'), refinery.root_path %>
</h1>

<section id="social">
  <div id='line_1'>
    <%= link_to image_tag('Twitter.png', size: "36x41"), 'http://twitter.com/sedrickcz', target: '_blank' %>
    <%= link_to image_tag('LinkedIn.png', size: "36x41"), 'http://www.linkedin.com/profile/view?id=132661917', target: '_blank' %><br>
  </div>
  <div id='line_2'>
    <%= link_to image_tag('Facebook.png', size: "36x41"), 'https://www.facebook.com/SedRicK.CZ', target: '_blank' %>
    <%= link_to image_tag('Tumblr.png', size: "36x41"), 'http://sedrickcz.tumblr.com/', target: '_blank' %>
    <%= link_to image_tag('Skype.png', size: "36x41"), 'http://myskype.info/jikratochvl', target: '_blank' %><br>
  </div>
  <div id='line_3'>
    <%= link_to image_tag('Youtube.png', size: "36x41"), 'https://www.youtube.com/user/TheKratochvilJiri', target: '_blank' %>
    <%= link_to image_tag('Instagram.png', size: "36x41"), 'http://instagram.com/sedrickcz', target: '_blank' %>
  </div>
</section>